@using Microsoft.AspNetCore.Identity
@model LibraryApp.Models.HomeViewModels.IndexViewModel

@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" asp-controller="Book" asp-action="Index" role="button">Books</a></p>
</div>
@if (SignInManager.IsSignedIn(User) && (@Model.LastLoans != null && @Model.LastLoans.Count > 0))
{
    <h3 class="text-center">Last Loans</h3>
    <div class="row">
        @foreach (var item in Model.LastLoans) {
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <div class="caption">
                    <h3>@Html.DisplayFor(modelItem => item.Book.Title)</h3>
                    <p>@Html.DisplayFor(modelItem => item.ReturnDate)</p>
                    <p><a asp-controller="Book" asp-action="Details" class="btn btn-primary" role="button" asp-route-id="@item.Id">Details</a></p>
                </div>
            </div>
        </div>
        }
    </div>
}
<h3 class="text-center">New Books!</h3>
<div class="row">
    @foreach (var item in Model.LastBooks) {
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="https://unsplash.it/242/200/?random" alt="100%x200">
            <div class="caption">
                <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                <p>@Html.DisplayFor(modelItem => item.Anotation)</p>
                <p><a asp-controller="Book" asp-action="Details" class="btn btn-primary" role="button" asp-route-id="@item.Id">Details</a></p>
            </div>
        </div>
    </div>
    }
</div>
