@model Book 
@{ ViewData["Title"] = "Details"; }

<h2>Details</h2>

<div class="container">
<div class="col-md-4">
    <h4>Book</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <strong>@Html.DisplayNameFor(model => model.ID)</strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.ID)
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <strong>@Html.DisplayNameFor(model => model.Title)</strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Title)
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <strong>@Html.DisplayNameFor(model => model.Author)</strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Author)
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <strong>@Html.DisplayNameFor(model => model.ReleaseDate)</strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.ReleaseDate)
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <strong>@Html.DisplayNameFor(model => model.Genre)</strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Genre)
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <strong>@Html.DisplayNameFor(model => model.Price)</strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Price)
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <strong>@Html.DisplayNameFor(model => model.Count)</strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Count)
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <strong>@Html.DisplayNameFor(model => model.isAvailable)</strong>
        </div>
        <div class="col-md-1">
            @Html.DisplayFor(model => model.isAvailable)
        </div>
        <div class="col-md-4">
            <strong>@Html.DisplayNameFor(model => model.isInStorage)</strong>
        </div>
        <div class="col-md-1">
            @Html.DisplayFor(model => model.isInStorage)
        </div>
    </div>
</div>

<div class="col-md-4">
    <h4>Anotation</h4>
    <hr />
    @Html.DisplayFor(model => model.Anotation)
</div>

<div class="col-md-4">
    <h4>Loans</h4>
    <hr />
    @Html.DisplayFor(model => model.Anotation)
</div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>