@model Book
@{
    ViewData["Title"] = "Book overview";
}

<h2>@ViewData["Title"].</h2>

<div class="container">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://unsplash.it/330/250/?image=@(Model.Id*200)" alt="100%x200" class="img-rounded">
            <div class="caption" class"text-center">
                <h3 class"text-center">@Html.DisplayFor(modelItem => Model.Title)</h3>
                <p class"text-center">@Html.DisplayFor(modelItem => Model.Anotation)</p>
                <p class"text-center">@Html.DisplayNameFor(modelItem => Model.Id):@Html.DisplayFor(modelItem => Model.Id)</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <h4>Details</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(modelItem => Model.Author):</dt><dd>@Html.DisplayFor(modelItem => Model.Author)</dd>
            <dt>@Html.DisplayNameFor(modelItem => Model.Genre):</dt><dd>@Html.DisplayFor(modelItem => Model.Genre)</dd>
            <dt>@Html.DisplayNameFor(modelItem => Model.Quantity):</dt><dd>@(Model.Quantity - Model.Loans.Count)</dd>
            <dt>@Html.DisplayNameFor(modelItem => Model.Price):</dt><dd>@Html.DisplayFor(modelItem => Model.Price)</dd>
            <dt>@Html.DisplayNameFor(modelItem => Model.ReleaseDate):</dt><dd>@Html.DisplayFor(modelItem => Model.ReleaseDate)</dd>
            <dt>@Html.DisplayNameFor(modelItem => Model.isAvailable):</dt><dd>@Html.DisplayFor(modelItem => Model.isAvailable)</dd>
            <dt>@Html.DisplayNameFor(modelItem => Model.isInStorage):</dt><dd>@Html.DisplayFor(modelItem => Model.isInStorage)</dd>
        </dl>
    </div>
    
    <div class="col-sm-6 col-md-4">
        @if ((bool)ViewData["showLoans"] && Model.Loans != null && Model.Loans.Count > 0)
        {
            <h4>Loans</h4>
            <hr />
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Loans.First().User.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Loans.First().ReturnDate)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Loans) {
                    <tr>
                        <td>
                            <a asp-controller="Account" asp-action="Details" asp-route-id="@item.User.Id">@Html.DisplayFor(modelItem => item.User.Email)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReturnDate)
                        </td>
                    </tr>
                    }                    
                </tbody>
            </table>
        }
    </div>
</div>