@model IEnumerable<Loan>

@{
    ViewData["Title"] = "Loans";
}

<h2>Loans</h2>

<p>
    @await Html.PartialAsync("_CreateBtnPartial", "Loan")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.RFID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isReturned)
            </th>
            <th>Controls</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="Account" asp-action="Details" asp-route-id="@item.UserId">@Html.DisplayFor(modelItem => item.User.RFID)</a>
            </td>
            <td>
                <a asp-controller="Book" asp-action="Details" asp-route-id="@item.BookId">@Html.DisplayFor(modelItem => item.User.Firstname)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isReturned)
            </td>
            <td>
                @await Html.PartialAsync("_ModelControlBtnPartial", new string[] { "Loan",@item.Id.ToString()})
            </td>
        </tr>
}
    </tbody>
</table>